<nav class="navbar" role="navigation" aria-label="main-navigation">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-exapanded="false" data-target="navMainMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div id="navMainMenu" class="navbar-menu">
        
            <div class="navbar-end">
                {% for item in site.data.nav-main %}
                <a href="{{ item.link }}" class="navbar-item {% if page.url == item.link %} has-text-weight-bold  {% endif %} " >{{ item.name }}</a>
                {% endfor %}
            </div>
        
    </div>
</nav>  



